@font-face { font-family :"Avenir Heavy";}
@font-face { font-family: "AvenirL TStd Roman"; }
@font-face { font-family: "AvenirL TStd Medium"; }
*{
    margin: 0px;
    padding: 0px;
}

.header{
    background-color: #e6001f;
    background-size: 70cm;
    background-repeat: no-repeat;
	height: 16cm;
    width: 67.7cm;
    overflow: hidden;
}
.report{
    margin-left: 14cm;
    margin-top: 8cm;
    width: 34cm;
    font-style: normal;
    color: white;
    font-size: 107px;
    font-family: "Aviner Heavy";
}
.icons .m{
    margin-left: 46cm;
    margin-top: 2cm;
}

.icons .s{
    margin-left: 1.5cm;
    margin-top: 2cm;
    height: 0.5cm;
}
.icons .en{
   margin-left: 1.5cm;
    margin-top: 2cm;
    height: 0.5cm;
}
.icons .arrow{
    margin-left: 0.1cm;
    margin-top: 1cm;
}
.icons .menu{
    margin-left: 1.5cm;
    margin-top: 2cm;
    height: 0.5cm;
}
.black{
    width: 44cm;
    height: 3cm;
    background-color:black;
    margin-left: 11cm;
    margin-top: -1.5cm;
}
.black li{
    margin-top: 0.6cm;
    float: left;
    list-style-type: none;

}

.black li a {
    font-family: "Aviner Heavy";
     display: inline-block;
    padding: 20px;
    margin-left: 8cm;
    text-transform: uppercase;
    font-size: 16pt;
    color: rgba(255, 255, 255, 255);
    text-align: right;
}
.black li a.current{
    color: red;
}
.white{
    margin-top: 0cm;
    height: 2.5cm;
    width: 67.7cm;
    padding-bottom: 0cm;
    margin-left: 15cm;
    margin-bottom: 0cm;
    background-color: #ffffff;
    position: absolute;
}
.white li{
    float: left;
    list-style-type: none;
    margin-top: 0.5cm
}

.white li a {
    margin-left: 4cm;
    font-family: "Aviner Heavy";
     display: inline-block;
    padding: 20px;
    padding-bottom: 0cm;
    margin-bottom:0cm;
    text-transform: uppercase;
    font-size: 16pt;
    text-decoration-color: black;
    color: black;
    text-align: left;
}

.middle{
    height: 55cm;
    width: 67.7cm;
    padding-top: 1cm;
    margin-top: 3cm;
    margin-bottom: -5cm;
    padding-bottom: -5cm;
    background-color: #ececed;
}
.form{
    width: 44cm;
    height: 40cm;
    background-color: white;
    margin-left: 13cm;
    padding-top: 0cm;
    margin-bottom: 0cm;
    padding-bottom: 0cm;
    margin-top: 3cm;
    padding-bottom: 0cm;
    margin-bottom: 0cm;
}
.report1{
    text-decoration-color: black;
    color: black;
    margin-left: 3cm;
    padding-top: 0cm;
    padding-top: 2cm;
    text-align: left;
    font-size: 40px;
}
.p1{
    margin-left: 3cm;
    margin-top: 1cm;
    text-decoration-color: #ececed;
    color: gainsboro;
    font-size: 30px;
}
.p2{
    margin-left: 3cm;
    margin-top: 0cm;
    text-decoration-color: #ececed;
    color: gainsboro;
    font-size: 30px;
}
.me{
    margin-left: 3cm;
    width: 39cm;
    font-size: 24px;
    margin-top: 0.5cm;
    margin-bottom: 1cm;
    height: 8cm;
    background: #ececed;
}
.e{
    margin-left: 3cm;
    margin-top: 0.5cm;
    margin-bottom: 1cm;
    width: 39cm;
    font-size: 24px;
    height: 2cm;
    background: #ececed;
}
.n{
    margin-left: 3cm;
    margin-top: 0.5cm;
    margin-bottom: 1cm;
    width: 19cm;
    font-size: 24px;
    margin-right: 0.5cm;
    height: 2cm;
    float: left;
    background: #ececed;
}
.ph{
    height: 1.9cm;
    margin-top: 0.1cm;
    margin-bottom: 1cm;
    width: 19cm;
    font-size: 24px;
    background: #ececed;
}
.m1{
    margin-top: 1cm;
    margin-left: 3cm;
    font-size: 30px;
}
.e1{
    margin-top: 0.5cm;
    margin-left: 3cm;
    font-size: 30px;
}
.n1{
    margin-top: 0.5cm;
    margin-left: 3cm;
    font-size: 30px;
}
.phh{
   margin-top: -1cm;
    padding-top: 0cm;
    padding-bottom: 0cm;
    margin-left: 3cm;
    font-size: 30px;
}
.send{
    font-size: 30px;
    text-decoration-color: white;
    background: red;
    margin-left: 3cm;
    margin-top: 0.5cm;
    width: 39cm;
    height: 2cm;
}
.footer .test div{
    display: flex;
    justify-content: space-between;
    color: black;
}


.footer {
    display: flex;
    justify-content: space-between;
    color: white;
}

.footer-logo{
    display:inline-block;
    margin-left: 10cm;
    margin-top: 1cm;
    width:168px;
    height: 210px;
    padding-bottom: 2cm;
}

.footer{
    background-color: black;
    color:white;
    width: 67.7cm;
}

.footer div{
    padding-top: 60px;
}

.footer ul li{
    font-family: "AvenirL TStd Roman";
    padding: 10px 0px 0px 0px;
    margin-top: 0cm;
    color: #97a3b3;
}

.footer ul li:first-child{
    font-family: "AvenirL TStd";
    padding: 15px 0;
    color: white;
}

.other ul li{
    font-family: "AvenirL TStd";
    padding: 10px 0;
    color: white;
}


.social-media img{
    width: 30px;
    height: 30px;

}
