@font-face { font-family: "AvenirL TStd"; src: url(../fonts/AvenirLTStd-Heavy.otf); }
@font-face { font-family: "AvenirL TStd Roman"; src: url(../fonts/AvenirLTStd-Roman.otf); }
@font-face { font-family: "AvenirL TStd Medium"; src: url(../fonts/AvenirLTStd-Medium.otf); }



*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: "AvenirL TStd";
}
.test{
    margin: 0 auto;
    max-width: 900px;
}
#Main-container{
    background-image: url(../imgs/intelligence-background.png);
    background-position: right top;
    background-repeat: no-repeat;
    background-color: #e6001f;
    height: 700px;
}

.clear{
    clear: both;
}

#logo{
    width: 151px;
    height: 164px;
    float: left;
    margin-top: 20px;
}

header nav{
    padding: 50px;
}

header nav ul li{
    margin-left: 20px;
    float: right;
}

ul{
    list-style-type: none;
}

header nav ul li select{
    border-color: white;
    background-color: #e50f0f;
    color:white;
}

#intelligence-explained-header{
    height: 310px;
    font-size: 1.8em;
    color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text{
    width: 270px;
    display: inline-block;
}
.text h4{
    font-family: "AvenirL TStd Medium";
    font-size: 0.7em;
}

#know-more{
    background-color: #e6001f;
    width: 315px;
    height: 75px;
    padding: 20px 0;
    color: white;
    border-color:white;
    cursor: pointer;
    align-self: center;
}

#dots{
    margin: 0 auto;
    margin-top: 75px;
    text-align: center;
}

.dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    margin: 0 3.5px;
    
}

#sections ul li{
    color:white;
    font-weight: 600;
    display: inline-block;
    margin: 0 4ا0px;
    padding: 20px 20px;
}
#sections ul{
    display: flex;
    justify-content: space-between;
}
#sections{
    margin: 20px;
    background-color: black;
    z-index: 1;
}

#site-info{
    background-color: white;
        
}

#site-info ul li{
    display: inline-block;
    padding:0 30px;
    cursor: pointer;
    
}

#site-info ul{
    text-align: center;
    
}

#overview-mission{
    display: flex;    
    justify-content: center;
    flex-wrap: wrap;
    background-color: #ececed;
    margin-top: 100px;
    padding: 50px 0;
}

.small-container{
    display: flex;
    justify-content: space-between;
}

#overview{
    width: 39%;
    display: inline-block;
    background-color: white;
    border-radius: 2px;
    padding: 20px;
}

#mission{
    width: 59%;
    display: inline-block;
    background-color: white;
    border-radius: 2px;
    padding: 20px;
    
}

.headline{
    text-align: left;
    font-weight: 600;
    font-size: 1.3em;
}

.description{
    text-align: left;
    color: #97a3b3;
    padding-top: 15px;
    
    
}

.more{

    background-color: transparent;
    color: #e6001f;
    border: none;
    padding-top:50px;
    padding-bottom: 50px;
}

#history{
    width: 60%;
    height:320px;
    background-color: white;
    padding: 20px;
}

.history-container{
    display: flex;
    margin-top: 50px;
    position: relative;
}


#history .description{
    padding-left: 15px;
    padding-right: 50px;
    padding-top: 15px;
}

#img-history{
    height: 300px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

#directors-speech{
    background-color: #df0016;
    color: white;
}

#directors-speech .test .more{
    color:white;
    margin: 0 200px;
    font-family: "AvenirL TStd Roman";
    cursor:pointer;
}

#circle{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: white;
}

#name, #title{
    font-family: "AvenirL TStd Roman";
}

#dir-headline{
    font-family: "AvenirL TStd";
    font-size: 1.3em;
    padding: 30px 200px;
}

#dir-paragraph1{
    font-family: "AvenirL TStd Medium";
    font-size: 1em;
    font-weight: 100;
    padding:0 200px;
}

#dir-paragraph2{
    font-family: "AvenirL TStd Roman";
    font-size: 0.7em;
    padding: 15px 200px;
}

.footer .test div{
    display: flex;
    justify-content: space-between;
    color: white;
}

#footer-logo{
    display: inline-block;
    width:168px;
    height: 210px;
}

.footer{
    background-color: black;
    color:white
}

.footer ul li{
    font-family: "AvenirL TStd Roman";
    padding: 20px 0;
    color: #97a3b3;
}

.footer ul li:first-child{
    font-family: "AvenirL TStd";
    padding: 10px 0;
    color: white;
}

#other ul li{
    font-family: "AvenirL TStd";
    padding: 10px 0;
    color: white;
}


#social-media img{
    width: 20px;
    height: 20px;
    
}
#social-media{
   
}

#video{
    
}

#video video{
    max-width: 900px;
    margin-top: 40px;
}

#video p{
    background-color: white;
    color: #97a3b3;
    padding: 20px;
}

#play{
    background: url(../images/NS2-home+video_42.jpg);
    position: absolute;
    top: 500px;
    cursor: pointer;
    width: 30px;
}

@media (max-width: 500px){
    #know-more{
        
        top:50%;
        left: 22%;
        
    }
    header{
        margin: auto
    }
    #nav-bar{
        position: absolute;
        top:20%;
        left:20%;
    }
}



